.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 65px;
}

.App-header {
  background-color: #222;
  height: 65px;
  padding: 0px;
  padding-bottom: 5px;
  padding-top: 15px;
  color: white;
  text-align: center;
}

.App-header h2 {
  margin: 0px;
  margin-top: -3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.code {
  float: left;
  width: 480px;
  margin: 20px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #888;
  max-height: 425px;
  border-radius: 8px;
}

.controls {
  text-align: center;
}

.controls .key {
  margin: 5px;
}

.lines {
  max-height: 378px;
  overflow-y: scroll;
}

.line {
  margin: 15px 0px;
}

.line-number {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  font-size: 36px;
  line-height: 36px;
}

.cmd {
  width: 36px;
  height: 34px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  padding-top: 2px;
  position: relative;
}

.cmd.current, .cmd.current.empty {
  border: 2px solid #333;
  margin: 0px;
}

.cmd.empty {
  border: 1px solid #ccc;
  margin: 1px;
}

.counter {
  position: absolute;
  right: -4px;
  top: -4px;
  background: red;
  color: white;
  z-index: 1;
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 13px;
  border-radius: 8px;
  font-weight: bold;
  padding-bottom: 0px;
}

button.newline {

}

.grid {
  position: relative;
  float: left;
  margin: 20px;
}

.grid table {
  border-collapse: collapse;
}

.cell {
  border: 1px solid #ccc;
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 4px 1px 0px 1px;
}

.cell.current {
  background: rgba(0, 0, 0, 0.2);
}

.cell-inner {
  display: block;
  width: 100%;
  height: 100%;
}

.grid .emoji2 {
  font-size: 28px;
  line-height: 24px;
}

.current-puzzle {
  position: absolute;
  opacity: 0.4;
  z-index: -1;
}


.input {
  clear: both;
  margin: 20px;
}

.input-row {
}

.key {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 4px;
}

.feedback {
  position: absolute;
  padding-top: 2px;
  top: -52px;
  background: white;
  border: 1px solid gray;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.emoji2 {
  font-size: 36px;
  line-height: 32px;
}

.spacer {
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  margin: 4px;
}


.puzzles {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: -50px;
}

.puzzle-modal {
  position: absolute;
  width: 675px;
  top: 150px;
  left: 130px;
  border: 1px solid gray;
  background: white;
  border-radius: 8px;
  z-index: 2;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.puzzle-books {
  margin-bottom: 30px;
}
.puzzle-book {
  opacity: 0.5;
}
.puzzle-book.unlocked {
  opacity: 1.0;
}
.puzzle-clear {
  float: right;
}

.puzzle-book .emoji2 {
  font-size: 64px;
  margin: 20px;
}

.puzzle {
  margin: 10px;
  float: left;
  opacity: 0.5;
  position: relative;
}

.puzzle.unlocked {
  opacity: 1.0;
}

.puzzle .emoji2 {
  font-size: 64px;
}

.puzzle-number {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  top: 31px;
  left: 25.5px;

  background-color: #333;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px;
}

.puzzle-number.two-digit {
  left: 18px;
}

.tada {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 120px;
  left: 120px;
  width: 200px;
  height: 200px;
}

.tada .emoji2 {
  font-size: 100px;
  line-height: 200px;
  vertical-align: middle;
  animation: tada-animation infinite 0.3s ease-in-out;
  animation-direction: alternate;
}

@keyframes tada-animation {
  from { font-size: 100px; }
  to { font-size: 130px; }
}

.clear {
  clear: both;
}
